<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Found Products</title>
</head>
<body>
<h1>Found Products</h1>
<ul>
    <li th:each="product : ${products}">
        <strong>Name:</strong> <span th:text="${product.name}"></span> -
        <strong>Category:</strong> <span th:text="${product.category}"></span> -
        <strong>Price:</strong> <span th:text="${product.price}"></span>
    </li>
</ul>
<p><a th:href="@{/}">Back to Home</a></p>
</body>
</html>
