<!--index.html-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<h1>Welcome</h1>

<!-- Use th:href for direct references to Spring endpoints -->
<p>
    <a th:href="@{/products}">View all products</a> <br/>
    <a th:href="@{/products/new}">Add new product</a> <br/>
    <a th:href="@{/addUser}">Add User</a> <br/>
    <a th:href="@{/viewUsers}">View Users</a> <br/>
    <a th:href="@{/products/findProducts}">Find Products</a> <br/>
</p>

</body>
</html>
