<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Health Issues</title>
</head>
<body>
<h1>Health Issues</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Patient Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="issue : ${healthIssues}">
        <td th:text="${issue.id}">ID</td>
        <td th:text="${issue.type}">Type</td>
        <td th:text="${issue.patient.name}">Patient</td>
    </tr>
    </tbody>
</table>
<br/>
<a href="/queries">Back to Home</a>
</body>
</html>
